.logo:hover {
    cursor: pointer;
}

.loginButton {
    background-color: #3498db; /* Blue background */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    padding: 12px 25px; /* Vertical and horizontal padding */
    font-size: 18px; /* Font size */
    font-weight: bold;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    z-index: 2; /* Ensure it appears above other elements */
    margin-left: 30px;
    margin-right: 30px;
}

/* Log In Button Hover Effect */
.loginButton:hover {
    background-color: #7a11dc; /* Purple on hover */
}


/* Content Layout */
.content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the text and image */
    align-items: center; /* Center items vertically */
    padding-top: 190px;
    padding-left: 140px;
    padding-right: 140px;
    /* min-width: 920px; Max width for large screens */
    margin: 0 auto; /* Center content horizontally */
}

@media screen and (max-width: 960px) {
    .content {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally */
        padding-left: 80px; /* Adjust padding for smaller screens */
        padding-right: 80px;
        padding-top: 140px;
    }
}


/* Text Section */
.text-section {
    flex: 1; /* Take up remaining space */
    max-width: 460px; /* Limit width for better readability */
    /* padding-right: 70px; */
}

@media screen and (min-width: 961px) {
    .text-section {
        padding-right: 70px;
    }
}

.big-text {
    font-size: 48px; /* Large font size */
    margin: 0; /* Remove default margin */
    color: #111; /* Text color */
    padding-bottom: 40px;
}

.small-text {
    font-size: 20px; /* Smaller font size */
    color: #666; /* Lighter text color */
    font-weight: normal;
    margin: 0px 0 40px 0; /* Margin for spacing */
    line-height: 1.6;
}

/* Start Now Button */
.start-button {
    background-color: #3498db; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px 20px; /* Padding for the button */
    font-size: 18px; /* Font size */
    font-weight: bold; /* Bold font weight */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    margin-top: 25px; /* Margin for spacing */
    margin-bottom: 20px;

    /* Box shadow for shadow-like outline */
    box-shadow: 3px 4px 0px 4px rgba(52, 152, 219, 0.5); /* Blue shadow outline */
}

.start-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
    box-shadow: 0 0 0 6px rgba(52, 152, 219, 0.7); /* Darker shadow on hover */
}

#loginButton2 {
    margin-right: 20px;
}

.anon-button {
    background-color: #8929b9; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px 20px; /* Padding for the button */
    font-size: 18px; /* Font size */
    font-weight: bold; /* Bold font weight */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    margin-top: 25px; /* Margin for spacing */
    margin-bottom: 20px;

    /* Box shadow for shadow-like outline */
    box-shadow: 3px 4px 0px 4px rgba(213, 52, 219, 0.5); /* Blue shadow outline */
}

.anon-button:hover {
    background-color: #7820a4; /* Darker purple on hover */
    box-shadow: 0 0 0 6px rgba(180, 52, 219, 0.7); /* Darker shadow on hover */
}

/* Image Section */
.image-section {
    flex: 1; /* Take up remaining space */
    display: flex; /* Flexbox for the image */
    justify-content: center; /* Center the image */
}

#screenshot {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 90px;
    border-radius: 10px; /* Rounds the image corners */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}



/************************* Info Section *************************/

.info-section {
    display: flex;
    flex-direction: column; /* Stack boxes on top of each other */
    align-items: center;
    margin-top: 90px;
    padding: 40px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Full width */
    margin-bottom: 30px; /* Add space between sections */
    background-color: #eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: filter 0.4s ease; /* Smooth transition for hover effect */
}

.info-box:hover {
    filter: brightness(.95);
}

/* Reverse the order for second box */
.second-box {
    flex-direction: row-reverse;
}

.second-box .info-text {
    margin-left: 10%;
}

.second-box .info-image {
    margin-left: 0;
}

.info-text {
    flex: 1; /* Make the text section flexible */
}

.info-image {
    flex: 0 0 auto; /* Prevent image from shrinking */
    border-radius: 10px;
    margin: 10px 20px; /* Add margin between text and image */
}

.info-text h3 {
    font-size: 2.2rem;
    line-height: 1.4;
    margin-bottom: 10px;
}

.info-text .first-h3 {
    color: #0279c9;
}

.info-text .second-h3 {
    color: #3d2ea2;
}

.info-text .third-h3 {
    color: #8e02ac;
}

.info-text p {
    font-size: 1.3rem;
    line-height: 1.3;
    color: #555;
}

/* For responsive layout */
@media (max-width: 1068px) {
    .info-box {
        flex-direction: column; /* Stack text and image vertically */
        text-align: center; /* Center align text and image */
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 5px;
        width: 80%; /* Full width */
    }

    .info-text h3 {
        font-size: 1.9rem;
        line-height: 1.4;
    }

    .info-text p {
        font-size: 1.15rem;
    }

    .second-box {
        flex-direction: column; /* Keep same layout for responsiveness */
    }

    .second-box .info-text {
        margin-left: 0;
    }

    .info-image {
        /* margin-bottom: 20px; */
        margin: 0;
    }

    #lists-screenshot {
        scale: .9;
    }

    #tags-screenshot {
        scale: .9;
    }

    #confetti-screenshot {
        margin-top: -15px;
        scale: .8;
    }
}

@media (max-width: 568px) {
    .info-box {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/************************* Footer *************************/
.created-by {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #555;
    font-size: 1.1rem;
}

.my-name {
    color: #111;
    font-weight: bold;
}


.scroll-arrow {
    width: 40px; 
    margin-top: 55px;
    animation: bounce 1.5s ease-in-out infinite; /* Bouncing animation */
}

@keyframes bounce {
    0% {
        transform: translateY(0); /* Start at original position */
    }
    30% {
        transform: translateY(-40px); /* First, move up */
    }
    60% {
        transform: translateY(0); /* Return to original position */
    }
    75% {
        transform: translateY(-25px); /* Quick, smaller second bounce */
    }
    95% {
        transform: translateY(0); /* Return to original position faster */
    }
    100% {
        transform: translateY(0); /* Ensure it ends at original position */
    }
}